.upTo {
    padding: 0px 72px 24px 72px;
    position: relative;
}

.upTo button {
    position: absolute;
    right: 72px;
    bottom: 24px;
    display: flex;
    width: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--violet-500, #4A21EF);
    border: none;
}
