.joinUs {
    display: flex;
    padding: 120px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}



.joinUs .joinText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.joinUs .joinText span {
    width: 636px;
    color: var(--gray-900, #141D24);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}

.joinUs .joinText p {
    max-width: 636px;
    color: var(--gray-900, #141D24);
    text-align: center;
    font-weight: 400;
    }


.joinUs .inputButton {
    display: flex;
    padding: 8px 8px 8px 24px;
    align-items: center;
    gap: 24px;
    border-radius: 99px;
    border: 1px solid var(--gray-200, #C9D2DA);
    background: var(--primary-white, #FFF);
}

.joinUs .inputButton input {
    color: var(--gray-300, #97A5B2);
    font-family: Inter;
    font-size: 16px;
    border: none;
    padding: 8px 16px;
}

.joinUs .inputButton button {
    color: var(--primary-white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 24px;
    background: var(--violet-500, #4A21EF);
    border: none;
}