.country_video {
    display: flex;
    padding: 0px 54px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 672px;
    border-radius: 20px;
    background-image: url(../../components/IMG/destination.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.destination_section {
    display: flex;
    padding: 120px 182px;
    flex-direction: column;
}

.destination_section .destination_country {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.destination_section .destination_country .dest_cntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-right: 1px solid var(--gray-100, #E3E7EB);
}

.destination_section .destination_country .dest_cntry .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
}


.destination_section .destination_country .dest_cntry .links li a  {
    text-decoration: none;
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}


.topDestinationSection {
    display: flex;
    padding: 0px 72px 120px 72px;
    flex-direction: column;
    align-items: flex-start;
}

.topDestinationSection .topDestination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}





