.picture3 {
    background-image: url('../../components/IMG/video2.gif');
    margin: 0px 54px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 672px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination_section {
    display: flex;
    padding: 120px 182px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.destination_section .dest_cntry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    border-right: 1px solid var(--gray-100, #E3E7EB);
    padding-right: 50px;

}

.destination_section .dest_cntry:last-child {
    border-right: 0;
}

.destination_section .dest_cntry .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
}


.destination_section .dest_cntry .links li a  {
    text-decoration: none;
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}


.brand {
    display: flex;
    padding: 0px 72px 120px 72px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}





