* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secondary {
    display: flex;
    width: 1440px;
    height: 100px;
    padding: 0px 72px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--primary-white, #FFF);

}

.secondary .container {
    display: flex;
    padding: 21px 0px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.secondary .container .menu {
    display: flex;
    width: 224px;
    padding-right: 0px;
    align-items: center;
    gap: 31.82px;
}

.secondary .container .menu .destination {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: center;
    color: var(--violet-900, #0F0339);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}

.secondary .container .menu .destination:active {
    color: var(--violet-500, #4A21EF);
}

.secondary .container .myImage {
    width: 160px;
    height: 40px;
}

.secondary .container .loginBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.secondary .container .loginBtn button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--violet-500, #4A21EF);
    background: var(--primary-white, #FFF);
    color: var(--violet-500, #4A21EF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.secondary .container .loginBtn button:hover {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: var(--violet-500, #4A21EF);
    color: var(--primary-white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}






