.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.cardImg {
    width: 416px;
    height: 230px;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    position: relative;
    background-image: cover;
}

.love {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 12px;
    top: 12px;
    border-radius: 24px;
    background: var(--violet-500, #4A21EF);
    border: none;
}

.love img {
    width: 20px;
    height: 20px;
}

.love p {
    color: var(--primary-white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.save {
    position: absolute;
    display: flex;
    width: 36px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    right: 12px;
    top: 12px;
    border-radius: 24px;
    border: 1px solid var(--gray-50, #F5F7FA);
    background: var(--primary-white, #FFF);
}

.save img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.text {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid var(--gray-100, #E3E7EB);
    border-bottom: 1px solid var(--gray-100, #E3E7EB);
    border-left: 1px solid var(--gray-100, #E3E7EB);
    background: var(--primary-white, #FFF);
}

.text .upperText {
    display: flex;
    width: 384px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.text .upperText h2 {
    color: var(--gray-500, #5E6F7D);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.text .upperText p {
    width: 296px;
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}


.priceButton button {
    display: flex;
    width: 384px;
    justify-content: space-between;
    align-items: flex-start;
}

.priceButton button .days {
    color: var(--gray-500, #5E6F7D);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.priceButton button .from {
    color: var(--gray-500, #5E6F7D);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.priceButton button .primary {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.priceButton button .primary .from {
    color: var(--gray-500, #5E6F7D);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.priceButton button .primary .price {
    color: var(--gray-900, #141D24);
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

