.picture2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 54px;
    height: 672px;
    background-image: url('../../components/IMG/Italy.png');
    background-size: cover;
    background-repeat: no-repeat;
    gap: 142px;
}

.statistika {
    margin: 0 54px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 24px;
}

.statistika .frames {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    border-right: 1px solid var(--primary-white, #FFF);
    padding-right: 50px;
    padding-bottom: 44px;
}

.statistika .frames:last-child {
    border-right: 0;
}

.statistika .frames svg {
    width: 24px;
    height: 24px;
}

.statistika .frames .part1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.statistika .frames .part1 h3 {
    color: var(--primary-white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.statistika .frames .part1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.statistika .frames .part1 div p {
    color: var(--primary-white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.italyTop {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.map {
    background: var(--gray-50, #F5F7FA);
    margin-top: 120px;
    position: relative;
    
}

.italymap img {
    object-fit: cover;
    background-repeat: no-repeat;
}


.head {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #97A5B2 0%, rgba(151, 165, 178, 0.00) 100%);
}



.head p {
    color: var(--primary-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; 
    position: absolute;
    left: 72px;
    top: 36px;
}

.head div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 36px;
    right: 72px;
}

.head div button {
    padding: 12px;
    border-radius: 100px;
    background: var(--primary-white, #FFF);
    border: none;
}

.thing {
    position: absolute;
    right: 72px;
    bottom: 52px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.thing img { 
    border-radius: 20px 20px 0px 0px;
    width: 416px;
    height: 192px;

}

.thing p {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    padding: 12px 16px;
}

.TopDestination {
    padding: 120px 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.TopDestination .forYou {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.topDestination .forYou .trip img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.trip .trip_text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid var(--gray-100, #E3E7EB);
    border-bottom: 1px solid var(--gray-100, #E3E7EB);
    border-left: 1px solid var(--gray-100, #E3E7EB);
    background: var(--primary-white, #FFF);
}


.trip .trip_text span {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}

.trip .trip_text p {
    overflow: hidden;
    color: var(--gray-900, #141D24);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.review5 {
    background-image: url(../../components/IMG/girl.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 8px;
    position: relative;
    height: 800px;
}

.review5 .reviewText {
    position: absolute;
    right: 72px;
    bottom: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.review5 .reviewText .comment {
    width: 416px;
    padding: 24px;
    border-radius: 20px;
    background: var(--primary-white, #FFF);
}

.review5 .reviewText .comment h6 {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.review5 .reviewText .reviewMember {
    padding: 20px 32px;
    display: flex;
    gap: 16px;
    border-radius: 20px;
    background: var(--primary-white, #FFF);
    width: 416px;
}

.review5 .reviewText .reviewMember .local {
    border-radius: 100px;
    background: var(--violet-500, #4A21EF);
    display: flex;
    width: 60px;
    height: 60px;
    padding: 18px;
}

.review5 .reviewText .reviewMember .expertName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.review5 .reviewText .reviewMember .expertName p {
    color: var(--gray-400, #788795);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.review5 .reviewText .reviewMember .expertName .name {
    display: flex;
    gap: 4px;
}

.whyUs {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.reasons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.reasons .reason {
    flex: 1;
    height: 200px;
}


.reasons .reason svg {
    border-radius: 100px;
    background: var(--violet-500, #4A21EF);
    padding: 18px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.reasons .reason .text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.reasons .reason .text2 span {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.reasons .reason .text2 p {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}








