.section {
    display: flex;
    padding: 72px 0;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--violet-500, #4A21EF);
    gap: 24px;
}

.section  span {
    color: var(--primary-white, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
}

.section  button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: var(--primary-white, #FFF);
    border: none;
}

.section  button:hover {
    background: var(--violet-500, #4A21EF);
}

.section  button:hover p {
    color: var(--primary-white, #FFF);
}


.section  button p {
    color: var(--violet-500, #4A21EF);
}
