* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

h1 {
    color: var(--primary-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

h2 {
    color: var(--gray-900, #141D24);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

h3 {
    color: var(--violet-500, #4A21EF);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}


.texts p {
    color: var(--primary-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.tripPlans {
    display: flex;
    align-items: flex-start;
    gap: 24px;  
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


.picture1 {
    margin: 0px 54px;
    background-image: url('../../components/IMG/video1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: linear-gradient(0deg, rgba(20, 29, 36, 0.20) 0%, rgba(20, 29, 36, 0.20) 100%);
    border-radius: 20px;
}

.trips .text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 228px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1 {
    color: var(--primary-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.texts p {
    color: var(--primary-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.trips .text1 .search {
    display: flex;
    padding: 8px 8px 8px 24px;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-radius: 99px;
    border: 1px solid var(--gray-200, #C9D2DA);
    background: var(--primary-white, #FFF);
}

.trips .text1 .search input {
    color: var(--gray-300, #97A5B2);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

.trips .text1 .search button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--violet-500, #4A21EF);
    border: none;
}

.trend_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 120px 72px;
    justify-content: space-between;
}

.brand {
    display: flex;
    padding: 0px 72px 120px 72px;
    flex-direction: column;
    align-items: flex-start;
}

.brand .brandNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.brand .brandNew .trendTrip {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}


.whyUsSection {
    display: flex;
    padding: 0px 72px 120px 72px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.whyUsSection .whyUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.whyUsSection .whyUs .reasons {
    display: flex;
    align-items: flex-start;
    gap: 24px;  
}

.whyUsSection .whyUs .reasons .reason {
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    background: var(--gray-50, #F5F7FA);
}

.whyUsSection .whyUs .reasons .reason .image {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--violet-500, #4A21EF);
}

.whyUsSection .whyUs .reasons .reason .image img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.whyUsSection .whyUs .reasons .reason .text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.whyUsSection .whyUs .reasons .reason .text2 span {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.localExperts {
    display: flex;
    padding: 0px 72px 120px 72px;
    flex-direction: column;
    align-items: flex-start;
}

.localExperts .experts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.localExperts .experts .ourExperts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.localExperts .experts .ourExperts .frame {
    width: 1296px;
    height: 380px;
}

.localExperts .experts .ourExperts .frame .callcenter {
    display: inline-flex;
    height: 336px;
    padding-right: 0px;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.localExperts .experts .ourExperts .frame .callcenter1 {
    display: inline-flex;
    height: 336px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}


.localExperts .experts .ourExperts .frame img {
    width: 578.149px;
    height: 336px;
    fill: lightgray 50% / cover no-repeat;
}



.localExperts .experts .ourExperts .frame p {
    width: 212px;
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.localExperts .experts .ourExperts .frame .text3 {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: 212px;
    fill: var(--primary-white, #FFF);
    background-image: url(../../components/IMG/Vector1.png);
    position: absolute;
}

.localExperts .experts .ourExperts .frame .text4 {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: 212px;
}

.review {
    width: 1440px;
    height: 800px;
    position: relative;
}

.review .reviewText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    right: 72px;
    bottom: 52px;
}

.review .reviewText .review1 {
    display: flex;
    width: 416px;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: var(--primary-white, #FFF);
}

.review .reviewText .review1 .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.review .reviewText .review1 .comment p {
    width: 356px;
    height: 120px;
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.review .reviewText .review1 .comment span {
    max-width: 345px;
    color: var(--violet-500, #4A21EF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.review .reviewText .review1 .testimonial {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.review .reviewText .review1 .testimonial p {
    max-width: 345px;
    color: var(--gray-400, #788795);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.review .reviewText .review1 .regionName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.review .reviewText .review1 .regionName p {
    max-width: 345px;
    color: var(--gray-500, #5E6F7D);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}

.review .reviewText .reviewMember {
    display: flex;
    width: 416px;
    padding: 20px 32px;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    background: var(--primary-white, #FFF);
}

.review .reviewText .reviewMember .local {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--violet-500, #4A21EF);
}

.review .reviewText .reviewMember .local img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.review .reviewText .reviewMember .expertName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.review .reviewText .reviewMember .expertName p {
    color: var(--gray-400, #788795);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


.review .reviewText .reviewMember .expertName  .name {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.review .reviewText .reviewMember .expertName  .name span {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.review .reviewText .reviewMember .expertName  .name p {
    color: var(--gray-900, #141D24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}



.europe {
    display: flex;
    padding: 120px 72px;
    flex-direction: column;
    align-items: flex-start;
}

.europe .europe_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.asia {
    display: flex;
    padding: 0px 72px 120px 72px;
    flex-direction: column;
    align-items: flex-start;
}

.asia .asia_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.upTo {
    display: flex;
    padding: 0px 72px 24px 72px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.upTo button {
    display: flex;
    width: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--violet-500, #4A21EF);
    border: none;
}






































