.video_faq {
    background-image: url('../../components/IMG/FAQ.png');
}

.faq_section {
    display: flex;
    width: 1440px;
    padding: 120px 72px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.faq_section .content {
    display: flex;
    width: 1076px;
    align-items: flex-start;
    gap: 20px;
}

.faq_section .content .questions {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.faq_section .content .questions ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.faq_section .content .questions ul li {
    display: flex;
    padding: 32px 60px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-100, #E3E7EB);
    background: var(--background-bg-primary, #FFF);
}






